// Colors
$primary-color: var(--todo-it-primary-color);
$secondary-color: var(--todo-it-secondary-color);

$black-color: #000;
$gray-color: #333;
$white-color: #fff;

//-- Natural Colors
$success-color: #4ec69b;
$error-color: #f91293;
$info-color: #ffdc50;

// Fonts
$base-font-family: "Roboto Mono";
$alternative-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// Transition
$global-transition: 0s;

