.todo-it {
  .c-btn {
    line-height: 1.2;
    text-decoration: none;
    font-size: rem(16px);
    color: $white-color;
    padding: rem(12px 16px);
    min-width: rem(100px);
    background-color: $black-color;
    border: rem(2px) solid $black-color;
    display: inline-block;
    text-align: center;
    @include clickable;
    font-weight: 500;

    &:hover {
      background-color: $gray-color;
    }

    &:focus {
      @include focusable-with-border;
    }
  }

  .c-btn--ghost {
    background-color: transparent;
    color: $black-color;

    &:hover {
      background-color: $gray-color;
      color: $white-color;
    }
  }
}