.todoit-plugin-page {

  .notice {
    border: rem(3px) solid $black-color;
    padding: 0;
    display: flex;
    margin: 0 0 rem(20px);
    max-width: calc(100% - 3.875rem);
    color: $black-color;
    font-family: $base-font-family;

    &::before {
      content: '';
      margin-right: rem(16px);
      display: inline-block;
      width: rem(3px);
      background-color: $black-color;
    }
  }

  .notice-success,
  div.updated {

    &::before {
      border-left: rem(6px) solid $success-color;
    }
  }

  .notice-error,
  div.deleted {

    &::before {
      border-left: rem(6px) solid $error-color;
    }
  }

  .notice-info,
  div.info {

    &::before {
      border-left: rem(6px) solid $info-color;
    }
  }

  .notice-dismiss {

    &::before {
      content: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z'/%3E%3C/svg%3E");
    }

    &:hover {

      &:before {
        color: $error-color;
      }
    }

    &:focus {
      @include focusable;
    }
  }
}